<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
<div class="Container">
	<h1>회원가입</h1>
	<div class='form-group'>
		<label for="email">이메일</label>
		<div class="d-flex">
			<input type=text id="email" name="email" class="form-control-4">
			<button type="button" id="emailCheckBtn" class="btn btn-warning">중복확인</button>
		</div>
		<small id="statusArea"></small>
	</div>
	<input ty`pe="button" id="joinBtn" value="회원가입" class="btn bnt-info">
</div>
<script>
	$(function(){
		$("#emailCheckBtn").on("click",function(){
			//statusArea의 하위 태그들 제거
			$("#statusArea").empty();//자식,손주 태그들 모두 비운다.
			
			let email=$("#email").val().trim();
			if(!email){
				$("#statusArea").append('<span class="text-danger">이름이 비어있습니다</span>');
				return;
			}
			//ajax - emaiㅣ 중복 체크
			$.ajax({
				//request
				type:"get"
				,url:"/lesson06/ex02/is-duplicate-email"
				,data:{"email":email}
				//response-callback함수
				,success:function(data){//json string ->parsing ->dictionary
					//{"code":200,"is_duplicate":true} //true->중복
					if(data.is_duplicate){
						$("#statusArea").append('<span class="text-danger">중복된 이메일이 있습니다.</span>');
					}
				}
				,error:function(error){
					alert("중복확인에 실패했습니다");
				}
			});
			//회원가입
			$("#joinBtn").on("click",function(){
				console.log($("#statusArea").children());
				if($("#statusArea").children().length>0){
					alert("회원가입을 할수 없습니다");
				}
				else{
					alert("회원가입");
				}
			});
		})
	});
</script>
</body>
</html>